"*":
  "exception-reporting":
    userId: "d4fca714-7d30-1897-fd53-926dfe87704a"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "go-plus"
    ]
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    showInvisibles: true
    preferredLineLength: 120
    tabType: "soft"
  autosave:
    enabled: true
  "one-dark-ui": {}
